.search-bar-container {
  position: absolute;
  margin: 0;
  top: -4px;
  right: 700px;
  display: flex;
}
#bar {
  width: 400px;
  border-radius: 20px;
  padding: 10px;
  border: none;
  background-color:whitesmoke
}
.search {
  position: relative;
}
button {
  position: absolute;
  left: 380px;
  top: 10px;
  background-color: white;
  border: none;
  cursor: pointer;
}

@media only screen   
and (min-device-width : 320px)   
and (max-device-width : 480px)  
{ 
  .search-bar-container {
    top: 655px;
    right: 80px;
  }

  #bar {
    width: 200px;
    border-radius: 20px;
    padding: 10px;
    border: none;
    background-color:whitesmoke
  }

  button {
    left: 190px;
  }
}  